.cat-form {
  .cat_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    img {
      width: 100px;
      height: auto;
    }
  }
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    select,
    .react-datepicker-wrapper {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    .react-datepicker-wrapper {
      border: none;
      padding: 0;
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fcb857;
    color: black;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #fcb857;
    }
  }
}
