.navbar {
  display: flex;
  z-index: 1;
  height: 15vh;
  background-color: #fcb857;
  align-items: flex-end;
  align-self: self-end;
  .routes {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    .route {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      img {
        height: 40px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
